alembic
atlassian-python-api==3.36.0
APScheduler
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
gevent
greenlet
gunicorn
pyartifactory==1.12.0
PyMySQL
python-gitlab==2.10.1
python-jenkins==1.8.0
redis
SQLAlchemy
tencentcloud-sdk-python==3.0.821
tencentcloud-sdk-python-sms==3.0.821
